body {
    background-image: url("docs/assets/images/backgroundimg.png");
    background-color: #ccc;
}

#canvas-id{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 30px;
}

#canvas{
    background-color: rgba(204, 204, 204, .5);
}

#difficulty-button{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    margin: 30px 375px;
}

.difficulty-btn{
    background-color: rgb(44, 151, 75, 1);
    border-color: rgba(27,31,36,0.15);
    color: white;
    font-size: 14px;
    position: relative;
    padding: 5px 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-evenly;
}

#btn-div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 50px;
}

#start-game{
    background-color: rgb(44, 151, 75, 1);
    border-color: rgba(27,31,36,0.15);
    color: white;
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 6px;
}